@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Merriweather');

body {
	text-align: left;
	background-color: #B2B8FF;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 2em;
	padding: 20px;
}

header {
	background-color: #889FE8;
	text-align: center;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Josefin Slab', serif;
	line-height: 3.5em;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

nav {
	background-color: #D2D4FF;
	color: #FFF;
	line-height: 2em;
}

a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

nav a{
	margin: 10px;
}

img {
	width: 75%;
}

main {
	background-color: #B2B8FF;
}

footer {
	background-color: #D2D4FF;
	color: #FFFFFF;
	font-family: 'Merriweather', serif;
	text-align: center;
}

h2 {
	text-align: center;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	text-transform: uppercase;
}

#slogan {
	text-align: center;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: 'Josefin Slab', serif;
	line-height: 3.5em;
	font-size: 26px;
	text-transform: uppercase;
}

#about {
	background-color: #D2D4FF;
	color: #02094F;
}

#one, #two, #three {
	background-color: #D2D4FF;
	color: #02094F;
}

h3, h5 {
	background-color: #D2D4FF;
	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	color: #02094F;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

p, h4, ul {
 	text-align: left;
 	background-color: #D2D4FF;
 	color: #02094F;
 	font-family: 'Merriweather', serif;
 	line-height: 2em auto;
}

.class {
	background-color: #D2D4FF;
	color: #02094F;
	font-family: 'Merriweather', serif;
}

aside {
	float: right;
}
