@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Merriweather');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	text-align: left;
	background-color: #E7E4FF;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.5;
 	color: #02094F;
}

header {
	text-align: center;
}

h1 {
	background-color: #D2D4FF;
	color: #FFFFFF;
	font-family: 'Josefin Slab', serif;
	line-height: 3.5em;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

nav {
	background-color: #02094F;
	color: #FFF;
	line-height: 2em;
	margin-right: 2em;
	margin-left: 
}

nav a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
img {
	width: 25%;
}
footer {
	background-color: #CCC;
	color: #FFFFFF;
	font-family: 'Merriweather', serif;
	text-align: center;
}

h2 {
	text-align: center;
	color: #02094F;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	text-transform: uppercase;
}

#slogan {
	text-align: center;
	color: #02094F;
	font-family: 'Josefin Slab', serif;
	/* line-height: 3.5em; */
	font-size: 26px;
	text-transform: uppercase;
}

.about {
	background:url(../images/food%20styling.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	color: #02094F;
	height: 80vh;
	padding: 8em 0 0 8em;
}
.about div {
	width:600px;
}

article {
	color: #02094F;
}

h3, h5 {
	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	color: #02094F;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}
#class {
	color: #02094F;
	font-family: 'Merriweather', serif;
}
