body {
	text-align: left;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: Merriweather, serif;
	font-size: 18px;
	line-height: 1.5em; 
	font-style: normal;
	font-weight: bold;
}

h1 {
	text-align: center;
	background-color: #02094F;
	color: #D2D4FF;
	font-family: Josefin Slab, serif;
	font-size: 48px;
	line-height: 2.0em; 
	font-style: normal;
	font-weight: bolder;
	text-transform: uppercase;
}

h3 {
	text-align: center;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: Merriweather, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

#slogan {
	text-align: center;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: Domine, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bolder;
	text-transform: uppercase;
}

p {
	text-align: left;
 background-color: #D2D4FF; 
 color: #02094F;
 font-family: Merriweather, serif;
 font-size: 16px;
 line-height: 1.5em;
 margin: 2.0em;
 font-style: normal;
 font-weight: bold;
}

ul, li {
	text-align: left;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: Merriweather, serif;
	font-size: 16px;
	line-height: 0.5em;
	margin: 2.0em;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

img {
	margin: center;
	background-color: #D2D4FF;
	color: #02094F;
}
