@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Merriweather');
* {margin:0:padding:0;box-sizing:border-box;}

/*Different font-family for header*/
/*Different font-style for links*/
/*Different font-style for paragraphs*/

body {
	text-align: left;
	background-color: #eeeff7;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #02094f;
}

header {
	text-align: center;
}

nav {
	text-align: center;
	line-height: 2em;
}

nav a {
	color: #92cdcf;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	padding: 1em;
}

#about {
	border: 1px black solid;
	align-content: left;
}

h1 {
	text-align: center;
	color: #02094f;
	font-family: 'Josefin Slab', serif;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.5em;
	padding: .5em;
}

h2 {
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	border: 1px black solid;
	font-size: 26px;
	padding: 20px;
}

#slogan {
	text-align: center;
	color: #02094f;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 1.5em;
	font-size: 26px;
	text-transform: uppercase;
}

.about {
	background:url(../images/pineapple.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #02094f;
	height: 80vh;
	padding: 8em 0 0 8em;
}
.about div{
	width: 600px;
}

p, h5, #items {
	text-align: left;
	line-height: 1.5em;
	padding-bottom: .5em;
}

h3 {
	font-size: 18px;
	padding: .5em;
	text-align: left;
}

#food_column {
	padding: 20px;
	max-width: 40em;
	margin: auto;
	width: 1200px;
}

#recipes {
	width: 65%;
	float: left;
	padding: 20px;
}

#nachos {
	width: 35%;
	padding: 20px;
	float: left;
}

#one_column {
	background-color: #02094f;
	border: 1px black solid;
	color: #fff;
}

#recipes2 {
	padding: 20px;
	color: #fff;
}

#drink_column {
	width: 1200px;
	margin: 2em auto;
}

#cocktail {
	float: left;
	height: 100%;
	padding: 5em;
	width: 65%;
}

#slushy {
	float: left;
	width: 35%;
}

#travel_column {
	width: 1200px;
	margin: 2em auto;
	height: 35em;
}

#charleston {
	padding: 20px;
	line-height: 1.5em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

footer {
	text-align: center;
	background-color: #02094f;
	color: #fff;
	text-transform: uppercase;
	padding: 8em;
}

footer a {
	color: #fff;
}