@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Merriweather');

/*Different font-family for header*/
/*Different font-style for links*/
/*Different font-style for paragraphs*/

body, main {
	text-align: left;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Merriweather', serif;
	font-size: 16px;
}

img {
	width: 400px;
}

header {
	text-align: center;
	background-color: #FFED74;
	border: : 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	text-align: center; 
	font-size: 16px;
}

#about {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

h1{
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 32px;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	background-color: #FFED74;
	text-transform: uppercase;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
}

h3 {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	margin: 2em;
}

h4 {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	margin: 2em;
}

h5 {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}


#slogan {
	text-align: center;
	background-color: #FFED74;
	text-transform: uppercase;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Josefin Slab', serif;
	font-size: 26px;
}

#one {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

#two {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

ul {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	font-size: 22px;
	text-align: center;
}

footer {
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	text-transform: uppercase;
	padding: 1em 0;
}