body {
	text-align: left;
	background: url("images/city garden (30 of 68).jpg");
	background-size: cover;
	color: #D2D4FF;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
h1 {
	text-align: center;
	background-color: #02094F;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
p, h3 {
	text-align: left;
	color: #39276B;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
ul {
	text-align: left;
	color: #39276B;
}
img
#slogan {
	text-align: center;
	color: #39276B;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
}