body {
	text-align: left;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: Arial;
	font-size: 18px;
	font-style:normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
}

h1 {
	text-align: center;
	background-color: #02094F;
	color: #E7E4FF;
	font-family: Helvetica;
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

h3, p {
	text-align: left;
	background-color: #D2D4FF;
	color: #02094F;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
}

ul, li {
	text-align: left;
	background-color: #D2D4FF
	color: #02094F;
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
}

img {
	text-align: center;
	background-color: #D2D4FF
	color: #02094F;
}

#slogan {
	text-align: center;
	background-color: #D2D4FF
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 28px;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	text-transform: capitalize;
}